<br>
<mat-expansion-panel *ngFor="let book of books">
    <mat-expansion-panel-header>
      <mat-panel-title>
       {{book.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <p>Writen by: {{book.author}}</p>
    <button mat-button>Delet</button><button mat-button>Edet</button>
  
  </mat-expansion-panel>