<p>authors works!</p>
<!-- <mat-selection-list #authors>
    <mat-list-option *ngFor="let author of typesOfAuthors">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Options selected: {{shoes.selectedOptions.selected.length}}
  </p> -->